obp-generated-ws-client/src/main/resources/wsdl/ClickToCall.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ClickToCall" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd175"
                        namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd0"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd1"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd2"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd3"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.Dtos.ProxyLogin"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd4"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Common.Request"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd5"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx991"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd6"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx990"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd7"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx910"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd8"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx909"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd9"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx908"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd10"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx903"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd11"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx809"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd12"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx802"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd13"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx763"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd14"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx762"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd15"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx761"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd16"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx760"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd17"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx759"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd18"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx758"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd19"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx757"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd20"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx756"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd21"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx755"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd22"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx754"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd23"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx752"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd24"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx753"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd25"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx751"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd26"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx747"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd27"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx749"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd28"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx748"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd29"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx746"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd30"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx745"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd31"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx744"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd32"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx743"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd33"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx742"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd34"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx741"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd35"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx740"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd36"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx739"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd37"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx738"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd38"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx737"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd39"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx736"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd40"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx735"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd41"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx734"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd42"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx732"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd43"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx731"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd44"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx730"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd45"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx728"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd46"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx727"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd47"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx726"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd48"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx725"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd49"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx724"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd50"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx723"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd51"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx722"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd52"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx720"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd53"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx719"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd54"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx718"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd55"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx717"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd56"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx716"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd57"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx715"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd58"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx714"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd59"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx713"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd60"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx712"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd61"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx711"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd62"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx710"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd63"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx709"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd64"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx707"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd65"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx706"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd66"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx705"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd67"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx703"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd68"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx701"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd69"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7012"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd70"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7011"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd71"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx700"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd72"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7009"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd73"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7010"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd74"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7008"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd75"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7007"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd76"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7006"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd77"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7005"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd78"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7004"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd79"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx7001"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd80"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx619"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd81"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx602"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd82"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx544"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd83"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx5223"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd84"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx5042"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd85"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx050"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd86"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx5024"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd87"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx5008"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd88"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx040"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd89"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx5006"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd90"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx414"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd91"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx408"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd92"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx302"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd93"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx301"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd94"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx278"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd95"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx271"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd96"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx258"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd97"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx218"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd98"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx211"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd99"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx201"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd100"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx200"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd101"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx169"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd102"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx113"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd103"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx090"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd104"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx089"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd105"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx083"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd106"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx059"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd107"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx344"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd108"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx296"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd109"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx197"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd110"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx168"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd111"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx146"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd112"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx832"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd113"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx778"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd114"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx776"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd115"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx777"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd116"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx774"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd117"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx775"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd118"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx773"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd119"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx993"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd120"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx992"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd121"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx948"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd122"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx781"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd123"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx848"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd124"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx783"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd125"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx782"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd126"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx780"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd127"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6009"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd128"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx779"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd129"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx772"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd130"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx771"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd131"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx770"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd132"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx769"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd133"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx768"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd134"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx767"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd135"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx766"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd136"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx765"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd137"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx053"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd138"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx030"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd139"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx021"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd140"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx016"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd141"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx015"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd142"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx008"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd143"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx002"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd144"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4000RegistrarClickToCall"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd145"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4002PreprocesoMSG"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd146"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4001ObtenerClickToCall"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd147"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx764"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd148"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6008"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd149"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6007"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd150"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6006"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd151"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6005"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd152"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6004"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd153"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6003"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd154"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6002Sucursal"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd155"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6001Cnsamecoti"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd156"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx6000Cnspersfis"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd157"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4014"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd158"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4012"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd159"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4011"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd160"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4009"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd161"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4008"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd162"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4007"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd163"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4006"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd164"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4005"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd165"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4004"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd166"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx4003PostprocesoMSG"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd167"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx108"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd168"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx1010"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd169"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx1003RestServiceCallerActor"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd170"
                        namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd171"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.Enums"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd172"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Common.Response"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd173"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
            <xsd:import schemaLocation="http://srvtran.ar.bsch:8100/ClickToCall.svc?xsd=xsd174"
                        namespace="http://schemas.datacontract.org/2004/07/ISBAN.SrvTran.Common.DataContratcs.Trx0001"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IClickToCall_GrabarDatosClickToCall_InputMessage">
        <wsdl:part name="parameters" element="tns:GrabarDatosClickToCall"/>
    </wsdl:message>
    <wsdl:message name="IClickToCall_GrabarDatosClickToCall_OutputMessage">
        <wsdl:part name="parameters" element="tns:GrabarDatosClickToCallResponse"/>
    </wsdl:message>
    <wsdl:message name="IClickToCall_GrabarDatosClickToCall_SinFirma_InputMessage">
        <wsdl:part name="parameters" element="tns:GrabarDatosClickToCall_SinFirma"/>
    </wsdl:message>
    <wsdl:message name="IClickToCall_GrabarDatosClickToCall_SinFirma_OutputMessage">
        <wsdl:part name="parameters" element="tns:GrabarDatosClickToCall_SinFirmaResponse"/>
    </wsdl:message>
    <wsdl:portType name="IClickToCall">
        <wsdl:operation name="GrabarDatosClickToCall">
            <wsdl:input wsaw:Action="http://tempuri.org/IClickToCall/GrabarDatosClickToCall"
                        message="tns:IClickToCall_GrabarDatosClickToCall_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IClickToCall/GrabarDatosClickToCallResponse"
                         message="tns:IClickToCall_GrabarDatosClickToCall_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GrabarDatosClickToCall_SinFirma">
            <wsdl:input wsaw:Action="http://tempuri.org/IClickToCall/GrabarDatosClickToCall_SinFirma"
                        message="tns:IClickToCall_GrabarDatosClickToCall_SinFirma_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IClickToCall/GrabarDatosClickToCall_SinFirmaResponse"
                         message="tns:IClickToCall_GrabarDatosClickToCall_SinFirma_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IClickToCall" type="tns:IClickToCall">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GrabarDatosClickToCall">
            <soap:operation soapAction="http://tempuri.org/IClickToCall/GrabarDatosClickToCall" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GrabarDatosClickToCall_SinFirma">
            <soap:operation soapAction="http://tempuri.org/IClickToCall/GrabarDatosClickToCall_SinFirma"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClickToCall">
        <wsdl:port name="BasicHttpBinding_IClickToCall" binding="tns:BasicHttpBinding_IClickToCall">
            <soap:address location="http://srvtran.ar.bsch:8100/ClickToCall.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>