obp-generated-ws-client/src/main/resources/wsdl/Segmento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
    name = "ClientData"
    targetNamespace = "BSR.CRMBE.API.Services"
    xmlns:wsdl = "http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsx = "http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsu = "http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsa10 = "http://www.w3.org/2005/08/addressing"
    xmlns:wsp = "http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsap = "http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
    xmlns:msc = "http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
    xmlns:soap12 = "http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsa = "http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsam = "http://www.w3.org/2007/05/addressing/metadata"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    xmlns:tns = "BSR.CRMBE.API.Services"
    xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsaw = "http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:soapenc = "http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema targetNamespace = "BSR.CRMBE.API.Services/Imports">
            <xsd:import schemaLocation = "http://180.166.45.250:9550/ClientData.svc?xsd=xsd0" namespace = "BSR.CRMBE.API.Services"/>
            <xsd:import schemaLocation = "http://180.166.45.250:9550/ClientData.svc?xsd=xsd3" namespace = "http://schemas.datacontract.org/2004/07/BSR.CRMBE.API.Services.DataContracts"/>
            <xsd:import schemaLocation = "http://180.166.45.250:9550/ClientData.svc?xsd=xsd1" namespace = "http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation = "http://180.166.45.250:9550/ClientData.svc?xsd=xsd2" namespace = "http://schemas.datacontract.org/2004/07/BSR.CRMBE.API.Services.DataContracts.ClientData"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name = "IClientData_GetClientSegment_InputMessage">
        <wsdl:part name = "parameters" element = "tns:GetClientSegment"/>
    </wsdl:message>
    <wsdl:message name = "IClientData_GetClientSegment_OutputMessage">
        <wsdl:part name = "parameters" element = "tns:GetClientSegmentResponse"/>
    </wsdl:message>
    <wsdl:message name = "IClientData_GetClientSegment_DataFaultFault_FaultMessage">
        <wsdl:part
            name = "detail"
            element = "q1:DataFault"
            xmlns:q1 = "http://schemas.datacontract.org/2004/07/BSR.CRMBE.API.Services.DataContracts"/>
    </wsdl:message>
    <wsdl:message name = "IClientData_GetClientDetailedPositionByNup_InputMessage">
        <wsdl:part name = "parameters" element = "tns:GetClientDetailedPositionByNup"/>
    </wsdl:message>
    <wsdl:message name = "IClientData_GetClientDetailedPositionByNup_OutputMessage">
        <wsdl:part name = "parameters" element = "tns:GetClientDetailedPositionByNupResponse"/>
    </wsdl:message>
    <wsdl:message name = "IClientData_GetClientDetailedPositionByNup_DataFaultFault_FaultMessage">
        <wsdl:part
            name = "detail"
            element = "q2:DataFault"
            xmlns:q2 = "http://schemas.datacontract.org/2004/07/BSR.CRMBE.API.Services.DataContracts"/>
    </wsdl:message>
    <wsdl:portType name = "IClientData">
        <wsdl:operation name = "GetClientSegment">
            <wsdl:input wsaw:Action = "BSR.CRMBE.API.Services/IClientData/GetClientSegment" message = "tns:IClientData_GetClientSegment_InputMessage"/>
            <wsdl:output wsaw:Action = "BSR.CRMBE.API.Services/IClientData/GetClientSegmentResponse" message = "tns:IClientData_GetClientSegment_OutputMessage"/>
            <wsdl:fault
                wsaw:Action = "BSR.CRMBE.API.Services/IClientData/GetClientSegmentDataFaultFault"
                name = "DataFaultFault"
                message = "tns:IClientData_GetClientSegment_DataFaultFault_FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name = "GetClientDetailedPositionByNup">
            <wsdl:input wsaw:Action = "BSR.CRMBE.API.Services/IClientData/GetClientDetailedPositionByNup" message = "tns:IClientData_GetClientDetailedPositionByNup_InputMessage"/>
            <wsdl:output wsaw:Action = "BSR.CRMBE.API.Services/IClientData/GetClientDetailedPositionByNupResponse" message = "tns:IClientData_GetClientDetailedPositionByNup_OutputMessage"/>
            <wsdl:fault
                wsaw:Action = "BSR.CRMBE.API.Services/IClientData/GetClientDetailedPositionByNupDataFaultFault"
                name = "DataFaultFault"
                message = "tns:IClientData_GetClientDetailedPositionByNup_DataFaultFault_FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name = "ClientDataEndpoint" type = "tns:IClientData">
        <soap:binding transport = "http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name = "GetClientSegment">
            <soap:operation soapAction = "BSR.CRMBE.API.Services/IClientData/GetClientSegment" style = "document"/>
            <wsdl:input>
                <soap:body use = "literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use = "literal"/>
            </wsdl:output>
            <wsdl:fault name = "DataFaultFault">
                <soap:fault name = "DataFaultFault" use = "literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name = "GetClientDetailedPositionByNup">
            <soap:operation soapAction = "BSR.CRMBE.API.Services/IClientData/GetClientDetailedPositionByNup" style = "document"/>
            <wsdl:input>
                <soap:body use = "literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use = "literal"/>
            </wsdl:output>
            <wsdl:fault name = "DataFaultFault">
                <soap:fault name = "DataFaultFault" use = "literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name = "ClientData">
        <wsdl:port name = "ClientDataEndpoint" binding = "tns:ClientDataEndpoint">
            <soap:address location = "http://180.166.45.250:9550/ClientData.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
