obp-generated-ws-client/src/main/resources/wsdl/WS_FOREX_BCRA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Valida_Pago_Deuda_Vencido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:BCRAParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BCRAParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Aplicativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocInsc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroDocInsc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Valida_Pago_Deuda_VencidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Valida_Pago_Deuda_VencidoResult" type="tns:BCRAResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BCRAResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescError" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Valida_Pago_Deuda_VencidoSoapIn">
    <wsdl:part name="parameters" element="tns:Valida_Pago_Deuda_Vencido" />
  </wsdl:message>
  <wsdl:message name="Valida_Pago_Deuda_VencidoSoapOut">
    <wsdl:part name="parameters" element="tns:Valida_Pago_Deuda_VencidoResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_FOREX_BCRASoap">
    <wsdl:operation name="Valida_Pago_Deuda_Vencido">
      <wsdl:input message="tns:Valida_Pago_Deuda_VencidoSoapIn" />
      <wsdl:output message="tns:Valida_Pago_Deuda_VencidoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_FOREX_BCRASoap" type="tns:WS_FOREX_BCRASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Valida_Pago_Deuda_Vencido">
      <soap:operation soapAction="http://tempuri.org/Valida_Pago_Deuda_Vencido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_FOREX_BCRASoap12" type="tns:WS_FOREX_BCRASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Valida_Pago_Deuda_Vencido">
      <soap12:operation soapAction="http://tempuri.org/Valida_Pago_Deuda_Vencido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_FOREX_BCRA">
    <wsdl:port name="WS_FOREX_BCRASoap" binding="tns:WS_FOREX_BCRASoap">
      <soap:address location="http://webbmgdesa02:5171/WS_FOREX_BCRA.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_FOREX_BCRASoap12" binding="tns:WS_FOREX_BCRASoap12">
      <soap12:address location="http://webbmgdesa02:5171/WS_FOREX_BCRA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>