obp-generated-ws-client/src/main/resources/wsdl/wsdeltarj.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://santanderrio.com.ar/WSDelTarj/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://santanderrio.com.ar/WSDelTarj/" xmlns:intf="http://santanderrio.com.ar/WSDelTarj/" xmlns:tns1="http://exceptions.WSDelTarj.santanderrio.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://santanderrio.com.ar/WSDelTarj/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.WSDelTarj.santanderrio.com.ar"/>
   <element name="consultarTraza">
    <complexType>
     <sequence>
      <element name="in" type="impl:WSDelTarj_Request"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Item">
    <sequence>
     <element name="Sucursal" type="xsd:int"/>
     <element name="Cod_Prod" nillable="true" type="xsd:string"/>
     <element name="Nro_Id_Comp" type="xsd:long"/>
     <element name="Cod_Estado" nillable="true" type="xsd:string"/>
     <element name="TipoCuenta" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfItem">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Item"/>
    </sequence>
   </complexType>
   <complexType name="Dato">
    <sequence>
     <element name="Nro_Pieza" type="xsd:int"/>
     <element name="Nro_Id_Componente" nillable="true" type="xsd:string"/>
     <element name="Lista" nillable="true" type="impl:ArrayOfItem"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfDato">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Dato"/>
    </sequence>
   </complexType>
   <complexType name="WSDelTarj_Request">
    <sequence>
     <element name="Firma" nillable="true" type="xsd:string"/>
     <element name="CanalTipo" nillable="true" type="xsd:string"/>
     <element name="CanalID" nillable="true" type="xsd:string"/>
     <element name="SubcanalTipo" nillable="true" type="xsd:string"/>
     <element name="SubcanalID" nillable="true" type="xsd:string"/>
     <element name="NUP" type="xsd:string"/>
     <element name="TipoPersona" nillable="true" type="xsd:string"/>
     <element name="TipoID" nillable="true" type="xsd:string"/>
     <element name="IDCliente" type="xsd:string"/>
     <element name="FechaNac" nillable="true" type="xsd:string"/>
     <element name="Datos" nillable="true" type="impl:ArrayOfDato"/>
    </sequence>
   </complexType>
   <element name="consultarTrazaResponse">
    <complexType>
     <sequence>
      <element name="out" type="impl:WSDelTarj_Response"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Error">
    <sequence/>
    <attribute name="cod" type="xsd:string"/>
    <attribute name="desc" type="xsd:string"/>
    <attribute name="sistema" type="xsd:string"/>
   </complexType>
   <complexType name="ArrayOfError">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Error"/>
    </sequence>
   </complexType>
   <complexType name="Evento">
    <sequence>
     <element name="Fecha" nillable="true" type="xsd:string"/>
     <element name="IdEstado" nillable="true" type="xsd:string"/>
     <element name="Estado" nillable="true" type="xsd:string"/>
     <element name="IdMotivo" nillable="true" type="xsd:string"/>
     <element name="Motivo" nillable="true" type="xsd:string"/>
     <element name="Sucursal" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Pieza">
    <sequence>
     <element name="StatusPieza" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="ResStatusPieza" nillable="true" type="impl:ArrayOfError"/>
     <element name="NroPieza" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="CodProd" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="TipoCuenta" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="Med_Envi" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="NyAp" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="FecNac" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="TipoDocum" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="NroDocum" nillable="true" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="TipoPersona" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="BancaPieza" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="SucUbic" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="ConDelivery" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="CodEstadoActual" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="MotivoEstadoActual" nillable="true" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="FecCodEstadoActual" nillable="true" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="CodEstadoAnterior" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="UserId" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="PiezaAbierta" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="NroPiezaOrigen" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="Canal" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="CodCampania" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="CodMotivoEmi" nillable="true" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="CodPaq" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="TieneChequera" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="NroIdentProd" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="NroIdComponente" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="CanComp" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="AreaVariable" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="CodSucAnt" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="FechaCodEstAnt" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="CodTransp" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="StatusEvento" nillable="true" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="StatusEvento_sub-code" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="ResStatusEvento" nillable="true" type="impl:ArrayOfError"/>
     <element maxOccurs="1" minOccurs="0" name="Evento" nillable="true" type="impl:Evento"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfPieza">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Pieza"/>
    </sequence>
   </complexType>
   <complexType name="WSDelTarj_Response">
    <sequence>
     <element name="codRetorno" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="Errores" nillable="true" type="impl:ArrayOfError"/>
     <element maxOccurs="1" minOccurs="0" name="Piezas" nillable="true" type="impl:ArrayOfPieza"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns1:SecurityException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.WSDelTarj.santanderrio.com.ar" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://santanderrio.com.ar/WSDelTarj/"/>
   <complexType name="SecurityException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultarTrazaRequest">

      <wsdl:part element="impl:consultarTraza" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarTrazaResponse">

      <wsdl:part element="impl:consultarTrazaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SecurityException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSDelTarj">

      <wsdl:operation name="consultarTraza">

         <wsdl:input message="impl:consultarTrazaRequest" name="consultarTrazaRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarTrazaResponse" name="consultarTrazaResponse">

       </wsdl:output>

         <wsdl:fault message="impl:SecurityException" name="SecurityException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSDelTarjSOAPSoapBinding" type="impl:WSDelTarj">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultarTraza">

         <wsdlsoap:operation soapAction="http://santanderrio.com.ar/WSDelTarj/consultarTraza"/>

         <wsdl:input name="consultarTrazaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultarTrazaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SecurityException">

            <wsdlsoap:fault name="SecurityException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSDelTarj">

      <wsdl:port binding="impl:WSDelTarjSOAPSoapBinding" name="WSDelTarjSOAP">

         <wsdlsoap:address location="http://wsdeltarj.ar.bsch:9084/WSDELTARJ/services/WSDelTarjSOAP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
